body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.material-icons {
    color: black;
}

a {
    text-align: center;
}

#myimg, .bio {
    margin: 10px;
}

.parallax-container {
    height: 900px;
}

.activator {
    height: 155px;
    width: 275px;
}

#linkedIn, #Email, #phoneNumber, #Resume {
    color: white;
    height: 50px;
    width: 50px;
}